body {
  background-color: #cacad0;
}

.container {
  max-width: 1350px;
  min-width: 300px;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/cover2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #06304d;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  border-radius: 5px;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  background-color: #668791;
  padding: 15px 50px;
}

.box {
  color: white;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
}

.box h3 {
  font-weight: 700;
  font-size: 20px;
}

.box a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.8);
}

.why-nz {
  background-color: white;
  color: #06304d;
}

.why-nz h3 {
  color: #bdbcc7;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
}

.why-nz h2 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
}

.why-nz p {
  text-align: justify;
  margin-bottom: 0;
  font-size: 16px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 65px;
  padding: 100px;
}

@media (max-width: 900px) {
  header {
    padding: 130px 0;
  }

  header h1 {
    font-size: 56px;
  }
  header h3 {
    font-size: 18px;
  }

  header h2 {
    font-size: 20px;
  }

  .boxes {
    grid-template-columns: 1fr;
  }

  .box {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 70px 100px;
    grid-gap: 50px;
  }

  .why-nz h2 {
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .grid {
    padding: 50px 50px;
    grid-gap: 50px;
  }
}
